@charset "utf-8";
/* CSS Document */

/******************************
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px
******************************/

@media only screen and (max-width: 1600px) {
}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px) {
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .product-slider-navigation {
        margin-left: -60px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 110%;
        top: 45%;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
}

/************
8. 850px
************/

@media only screen and (max-width: 850px) {

}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
    .product-slider-navigation {
        margin-left: -50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 110%;
        top: 45%;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {

}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    .product-slider-navigation {
        margin-left: -45px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 110%;
        top: 45%;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {
}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
}

/************
15. min-width:900px
************/

@media only screen and (min-width: 850px) {

}
